# Réalisez un dashboard
## Notebook - Test de l'API  
OpenClassrooms - Parcours Data Scientist - Projet 08

In [48]:
import pandas as pd
import numpy as np
import requests
import json
import os
import pickle
import shap
from flask import jsonify
# import matplotlib.pyplot as plt

In [ ]:
# Graphique des valeurs SHAP
def plot_shap_values(local_importance, feature_names, top_n=20):
    # Créer un DataFrame à partir des valeurs SHAP et des noms des features
    shap_values_df = pd.DataFrame({'Feature': feature_names, 'SHAP Value': local_importance})

    # Trier par la valeur absolue des valeurs SHAP et sélectionner les top N
    shap_values_df['Abs SHAP Value'] = np.abs(shap_values_df['SHAP Value'])
    shap_values_df = shap_values_df.sort_values(by='Abs SHAP Value', ascending=False).head(top_n)

    # Tracer les valeurs SHAP
    plt.figure(figsize=(10, 8))
    plt.barh(shap_values_df['Feature'], shap_values_df['SHAP Value'])
    plt.xlabel('SHAP Value')
    plt.title(f'Top {top_n} Feature importance locale (SHAP values)')
    plt.gca().invert_yaxis()
    plt.show()

In [ ]:
# Graphique de comparaison des features importance locale et globale
def compare_feature_importance(local_importance, global_importance_df, top_n=20):
    # Convertir les valeurs SHAP locales en DataFrame
    local_importance_df = pd.DataFrame({'Feature': global_importance_df['Feature'], 'Local importance': local_importance})
    
    # Joindre les DataFrames d'importance locale et globale
    comparison_df = global_importance_df.set_index('Feature').join(local_importance_df.set_index('Feature'))
    
    # Trier par la valeur absolue de l'importance locale et sélectionner les top N
    comparison_df['Abs Local importance'] = np.abs(comparison_df['Local importance'])
    comparison_df = comparison_df.sort_values(by='Abs Local importance', ascending=False).head(top_n)
    
    # Tracer la comparaison
    fig, ax = plt.subplots(figsize=(10, 8))
    comparison_df[['Global importance', 'Local importance']].plot(kind='barh', ax=ax)
    ax.set_xlabel('Importance')
    ax.set_title('Comparaison de l\'importance des features (Globale vs Locale)')
    plt.gca().invert_yaxis()
    plt.show()

In [147]:
# Nombre d'exemples à tester
n_samples = 5

In [148]:
# Récupération des données de test
base_dir = os.getcwd()
df_test_path = os.path.join(base_dir, '..', '..', 'P08 - Dashboard', 'data', 'raw', 'application_test.csv')
df_test = pd.read_csv(df_test_path)

In [149]:
# Récupération du seuil de classification
threshold_path = os.path.join(base_dir, '..', 'data', 'processed', 'best_threshold.txt')
with open(threshold_path, 'r') as threshold_file:
    best_threshold = float(threshold_file.read())

In [150]:
# Sélection aléatoire de n_samples exemples
df_subset = df_test.sample(n_samples)

In [151]:
# Récupération des id clients
sk_id_curr = df_subset['SK_ID_CURR'].astype('int')

In [152]:
# Suppression des id clients
df_subset = df_subset.drop(columns='SK_ID_CURR')

In [153]:
# Remplacement des valeurs manquantes par None (JSON n'accepte pas les NaN)
df_subset =  df_subset.map(lambda x: None if pd.isna(x) else x)

In [154]:
# Conversion au format JSON
data_json = json.dumps({
    "columns": df_subset.columns.tolist(),
    "data": df_subset.values.tolist()}
)

In [155]:
data_json

'{"columns": ["NAME_CONTRACT_TYPE", "CODE_GENDER", "FLAG_OWN_CAR", "FLAG_OWN_REALTY", "CNT_CHILDREN", "AMT_INCOME_TOTAL", "AMT_CREDIT", "AMT_ANNUITY", "AMT_GOODS_PRICE", "NAME_TYPE_SUITE", "NAME_INCOME_TYPE", "NAME_EDUCATION_TYPE", "NAME_FAMILY_STATUS", "NAME_HOUSING_TYPE", "REGION_POPULATION_RELATIVE", "DAYS_BIRTH", "DAYS_EMPLOYED", "DAYS_REGISTRATION", "DAYS_ID_PUBLISH", "OWN_CAR_AGE", "FLAG_MOBIL", "FLAG_EMP_PHONE", "FLAG_WORK_PHONE", "FLAG_CONT_MOBILE", "FLAG_PHONE", "FLAG_EMAIL", "OCCUPATION_TYPE", "CNT_FAM_MEMBERS", "REGION_RATING_CLIENT", "REGION_RATING_CLIENT_W_CITY", "WEEKDAY_APPR_PROCESS_START", "HOUR_APPR_PROCESS_START", "REG_REGION_NOT_LIVE_REGION", "REG_REGION_NOT_WORK_REGION", "LIVE_REGION_NOT_WORK_REGION", "REG_CITY_NOT_LIVE_CITY", "REG_CITY_NOT_WORK_CITY", "LIVE_CITY_NOT_WORK_CITY", "ORGANIZATION_TYPE", "EXT_SOURCE_1", "EXT_SOURCE_2", "EXT_SOURCE_3", "APARTMENTS_AVG", "BASEMENTAREA_AVG", "YEARS_BEGINEXPLUATATION_AVG", "YEARS_BUILD_AVG", "COMMONAREA_AVG", "ELEVATORS_AVG", "ENTRANCES_AVG", "FLOORSMAX_AVG", "FLOORSMIN_AVG", "LANDAREA_AVG", "LIVINGAPARTMENTS_AVG", "LIVINGAREA_AVG", "NONLIVINGAPARTMENTS_AVG", "NONLIVINGAREA_AVG", "APARTMENTS_MODE", "BASEMENTAREA_MODE", "YEARS_BEGINEXPLUATATION_MODE", "YEARS_BUILD_MODE", "COMMONAREA_MODE", "ELEVATORS_MODE", "ENTRANCES_MODE", "FLOORSMAX_MODE", "FLOORSMIN_MODE", "LANDAREA_MODE", "LIVINGAPARTMENTS_MODE", "LIVINGAREA_MODE", "NONLIVINGAPARTMENTS_MODE", "NONLIVINGAREA_MODE", "APARTMENTS_MEDI", "BASEMENTAREA_MEDI", "YEARS_BEGINEXPLUATATION_MEDI", "YEARS_BUILD_MEDI", "COMMONAREA_MEDI", "ELEVATORS_MEDI", "ENTRANCES_MEDI", "FLOORSMAX_MEDI", "FLOORSMIN_MEDI", "LANDAREA_MEDI", "LIVINGAPARTMENTS_MEDI", "LIVINGAREA_MEDI", "NONLIVINGAPARTMENTS_MEDI", "NONLIVINGAREA_MEDI", "FONDKAPREMONT_MODE", "HOUSETYPE_MODE", "TOTALAREA_MODE", "WALLSMATERIAL_MODE", "EMERGENCYSTATE_MODE", "OBS_30_CNT_SOCIAL_CIRCLE", "DEF_30_CNT_SOCIAL_CIRCLE", "OBS_60_CNT_SOCIAL_CIRCLE", "DEF_60_CNT_SOCIAL_CIRCLE", "DAYS_LAST_PHONE_CHANGE", "FLAG_DOCUMENT_2", "FLAG_DOCUMENT_3", "FLAG_DOCUMENT_4", "FLAG_DOCUMENT_5", "FLAG_DOCUMENT_6", "FLAG_DOCUMENT_7", "FLAG_DOCUMENT_8", "FLAG_DOCUMENT_9", "FLAG_DOCUMENT_10", "FLAG_DOCUMENT_11", "FLAG_DOCUMENT_12", "FLAG_DOCUMENT_13", "FLAG_DOCUMENT_14", "FLAG_DOCUMENT_15", "FLAG_DOCUMENT_16", "FLAG_DOCUMENT_17", "FLAG_DOCUMENT_18", "FLAG_DOCUMENT_19", "FLAG_DOCUMENT_20", "FLAG_DOCUMENT_21", "AMT_REQ_CREDIT_BUREAU_HOUR", "AMT_REQ_CREDIT_BUREAU_DAY", "AMT_REQ_CREDIT_BUREAU_WEEK", "AMT_REQ_CREDIT_BUREAU_MON", "AMT_REQ_CREDIT_BUREAU_QRT", "AMT_REQ_CREDIT_BUREAU_YEAR"], "data": [["Cash loans", "F", "N", "Y", 2, 90000.0, 213322.5, 15651.0, 162000.0, "Unaccompanied", "Working", "Secondary / secondary special", "Married", "House / apartment", 0.035792, -13104, -1011, -2114.0, -4403, NaN, 1, 1, 0, 1, 0, 0, "Laborers", 4.0, 2, 2, "TUESDAY", 13, 0, 0, 0, 0, 0, 0, "Business Entity Type 3", NaN, 0.4537370426905118, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, null, null, NaN, null, null, 0.0, 0.0, 0.0, 0.0, -662.0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, NaN, NaN, NaN, NaN, NaN, NaN], ["Cash loans", "M", "N", "Y", 0, 171000.0, 376920.0, 16731.0, 270000.0, "Unaccompanied", "Commercial associate", "Secondary / secondary special", "Married", "House / apartment", 0.031329, -17413, -646, -6496.0, -927, NaN, 1, 1, 0, 1, 0, 0, "High skill tech staff", 2.0, 2, 2, "TUESDAY", 10, 0, 1, 1, 0, 1, 1, "Business Entity Type 2", 0.5204063301052397, 0.5623158799824074, 0.6430255641096323, 0.132, 0.1152, 0.9796, 0.7212, 0.0165, 0.0, 0.2759, 0.1667, 0.2083, 0.1028, 0.1067, 0.1172, 0.0039, 0.0065, 0.1345, 0.1195, 0.9796, 0.7321, 0.0167, 0.0, 0.2759, 0.1667, 0.2083, 0.1051, 0.1166, 0.1221, 0.0039, 0.0069, 0.1332, 0.1152, 0.9796, 0.7249, 0.0166, 0.0, 0.2759, 0.1667, 0.2083, 0.1046, 0.1086, 0.1193, 0.0039, 0.0066, "reg oper account", "block of flats", 0.0936, "Stone, brick", "No", 0.0, 0.0, 0.0, 0.0, -1616.0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0, 0.0, 0.0, 0.0, 6.0], ["Cash loans", "F", "Y", "Y", 2, 112500.0, 1350000.0, 42034.5, 1350000.0, "Family", "Commercial associate", "Incomplete higher", "Married", "House / apartment", 0.0196889999999999, -12283, -2008, -4099.0, -4462, 1.0, 1, 1, 0, 1, 0, 0, "Core staff", 4.0, 2, 2, "MONDAY", 15, 0, 0, 0, 0, 0, 0, "Business Entity Type 3", 0.6162263906442763, 0.7093089061939994, 0.3944954053123993, 0.2557, 0.1603, 0.9846, 0.7892, 0.0799, 0.24, 0.1897, 0.5, 0.5417, 0.1157, 0.208, 0.2668, 0.0019, 0.0014, 0.1429, 0.0491, 0.9801, 0.7387, 0.068, 0.0806, 0.0345, 0.3333, 0.375, 0.0135, 0.124, 0.1576, 0.0, 0.0, 0.2581, 0.1603, 0.9846, 0.792, 0.0804, 0.24, 0.1897, 0.5, 0.5417, 0.1177, 0.2116, 0.2716, 0.0019, 0.0014, "reg oper account", "block of flats", 0.1564, "Monolithic", "No", 1.0, 0.0, 1.0, 0.0, -3510.0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0, 0.0, 0.0, 0.0, 4.0], ["Cash loans", "F", "N", "Y", 0, 135000.0, 1074100.5, 51804.0, 882000.0, "Unaccompanied", "Working", "Secondary / secondary special", "Married", "House / apartment", 0.035792, -17775, -200, -10436.0, -1304, NaN, 1, 1, 0, 1, 0, 0, null, 2.0, 2, 2, "WEDNESDAY", 10, 0, 0, 0, 1, 1, 0, "Other", NaN, 0.4598412870838615, 0.1342654235549427, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, null, null, NaN, null, null, 0.0, 0.0, 0.0, 0.0, -1757.0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0, 0.0, 0.0, 1.0, 2.0], ["Cash loans", "F", "Y", "Y", 0, 119250.0, 1303200.0, 46809.0, 1125000.0, "Unaccompanied", "Pensioner", "Secondary / secondary special", "Married", "House / apartment", 0.030755, -21479, 365243, -2313.0, -4879, 5.0, 1, 0, 0, 1, 0, 1, null, 2.0, 2, 2, "FRIDAY", 16, 0, 0, 0, 0, 0, 0, "XNA", 0.4075050555941632, 0.55761735450115, 0.7136313997323308, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, null, null, NaN, null, null, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]]}'

In [156]:
# Envoi de la requête POST à l'API
heroku_url = 'https://failurescore-bc9f53f25e58.herokuapp.com/predict'
local_url = 'http://127.0.0.1:5000/predict'
response = requests.post(
    heroku_url,
    headers={'Content-Type': 'application/json'},
    data=data_json
)

In [157]:
display(response)

In [158]:
display(response.json()['prediction_class'])

[1, 0, 0, 1, 0]

In [159]:
# DataFrame pour affichage des probabilités et accord ou non de crédit
predictions = pd.DataFrame({'Customer id': sk_id_curr.values.tolist(), 'Failure probability': response.json()['prediction_proba'], 'Credit agreement': response.json()['prediction_class']})
predictions['Credit agreement'] = predictions['Credit agreement'] == 0
predictions['Failure probability'] = round(predictions['Failure probability'], 2)

In [160]:
# Affichage
display(predictions)

   Customer id  Failure probability  Credit agreement
0       156104                 0.60             False
1       362872                 0.41              True
2       259867                 0.26              True
3       258705                 0.78             False
4       392250                 0.24              True

In [ ]:
local_importance = response.json()['feature_importance']

In [ ]:
feature_names = response.json()['feature_names']

In [ ]:
local_importance

In [ ]:
# Graphique feature importance locale
plot_shap_values(local_importance[0], feature_names)

In [17]:
~0

-1

In [18]:
~1

-2

In [20]:
~(1>0)

C:\Users\chrab\AppData\Local\Temp\ipykernel_26096\2563144858.py:1: DeprecationWarning: Bitwise inversion '~' on bool is deprecated. This returns the bitwise inversion of the underlying int object and is usually not what you expect from negating a bool. Use the 'not' operator for boolean negation or ~int(x) if you really want the bitwise inversion of the underlying int.
  ~(1>0)

-2

In [23]:
not 0

True